
.header {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
}



.box {
  box-sizing: border-box;
}

/* ========== header ========== */


/* ========== nav ========== */
.box-nav {
  width: 100%;
  height: 100px;
  background: #3a3a3a;
  
}

.inner-nav {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0 auto;
  line-height: 40px;
  list-style: none;
  background: #3a3a3a;
  
}

.menu {
  margin-top: 27px;
  padding: 0 10px;
  color: #fff;
  height: 100%;
  text-decoration: none;
}

.menu:hover {
  background: #7a7a7a;
  list-style: none;
}

.menuuu {
  color: #fff;
  text-decoration: none;
}

.list-pict1{
  height: 80px;
  margin-top: 5px;
}
.list-pict2{
  height: 80px;
  margin-top: 5px;
}
.list-pict3{
  height: 80px;
  margin-top: 5px;
  margin-right: 600px;
}

/* ========== sp ========== */
@media screen and (max-width: 480px) {
  .header-7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 0.8em;
  }

  .box-nav {
    display: none;
  }

  .sp-nav {
    display: block;
  }

  .box-logo {
    height: 60px;
  }

  .logo-img {
    width: 70px;
  }
}


/* ========== index ========== */



.sistem{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.sistem2{
  width: 100vw;
  display: flex;
  justify-content: center;
}



.clock-main{
  width: 490px;
  height: 100px;
  background-image: url(https://livedoor.blogimg.jp/sizen_go-wdm/imgs/0/3/03924212.jpg);
  border-radius: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ee3e52;
}

.date{
  font-size: 15px;
  color: #fff;
}

.time{
  font-size: 60px;
  color: #fff;
  font-weight: 900;
}




.sistem-list{
  margin-top: 20px;
  list-style: none;
  display: flex;
}

.sistem_btn{
  background-color: #ee3e52;
  border-radius: 20px;
  width: 200px;
  color: #fff;
  font-size: 37px;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  margin: 0 5px;
  box-shadow: 0px 4px 4px 0px rgba(63, 38, 38, 0.5);
  text-decoration: none;
}

.sistem_btn:hover{
 
  opacity: 0.5 ;
}

.comment-body{
    width: 600px;
    height: 80px;
    border-radius: 20px;
    margin-top: 30px;
    border: 4px solid #ee3e52;
  background-color: #fff;
}

.comment-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment{
  padding: 5px 10px;
  font-size: 15px;
}

/* ========== index ========== */

/* ========== new ========== */
.title{
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
}

.form-body{
  text-align: center;
  padding-top: 70px;
}

.attendance--style{
  margin-top: 30px;
}

.today-date{
  width: 250px;
}

.atttendance-style{
  height: 25px;
  width: 300px;
}

.attendance-button .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 250px;
  margin-top: 60px;
}

.button:hover {
  background: #ee3e52;
}

.back-btn{
  text-align: left;
  text-decoration: none;
  color: blue;
  margin-left: 10px;
}

.weight-bold-text{
  font-weight: bold;
}

/* ========== new ========== */






