table{
  
  
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#df8898,#f16272);
  border-left: 1px solid #903c55;
  border-top: 1px solid #903c7b;
  border-bottom: 1px solid #903c85;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.table-body{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}



.edit2{
  border-left:none;
}

.tabele-right{
  border-left: none;
  width: 100px;
}

.tabele-left{
  width: 100px;
}

.corrects_btn{
  margin: 0 5px 5px 5px;
  text-decoration: none;
  background-color: #ee3e52;
  width: 110px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  box-shadow: 0px 4px 4px 0px rgba(63, 38, 38, 0.5);
  text-decoration: none;
}

.corrects_btn:hover{
 
  opacity: 0.5 ;
}

.dateth{
  width: 200px;
}

.table-th{
  width: 130px;
}

.tabele-sub{
  width: 100px;
}


