
/* ========== form ========== */

.user-form-body{
  margin-top: 40px;
}

.form-wrapper {
  background: #fafafa;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 390px;
  
}

.login {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.login-back{
  height: 100vh;
  width: 100vw;
  background-color: blanchedalmond;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #fafafa;
  padding-left: 20px;
}

.name-note{
  font-size: smaller;
}

/* ========== form ========== */


/* ========== show ========== */

.show-table{
  border-collapse:separate;
  border-spacing: 0;
}

.show-th:first-child{
  border-radius: 5px 0 0 0;
}

.show-th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.show-th{
  color:white;
  background: linear-gradient(#df8898,#f16272);
  border-left: 1px solid #903c55;
  border-top: 1px solid #903c7b;
  border-bottom: 1px solid #903c85;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 400px;
  height: 20px;
}

.show-td{
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  width: 200px;
}

.show-td:last-child{
  border-right: 1px solid #a8b7c5;
}

.show-tr:last-child .show-td:first-child {
  border-radius: 0 0 0 5px;
}

.show-tr:last-child .show-td:last-child {
  border-radius: 0 0 5px 0;
}

.table-show-body{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.hidari{
  background-color: rgb(233, 183, 207);
  color:#1d1c1c;
}

.show-table-text{
margin-top: 60px;
font-weight:lighter;
margin-top: 60px;
}

.show-text-parant{
  display: flex;
  justify-content:center;
}

.print{
  height: 40px;
  width: 125px;
  margin-right: 30px;
}

.back-btn{
  display: flex;
  justify-content: space-between;
}


/* ========== show ========== */


