<header class="header">
    <div class="box box-nav">
      <ul class="inner-nav">
        <li><%= image_tag "risu.png", class:"list-pict1" %></li>
        <li><%= image_tag "risu.png", class:"list-pict2" %></li>
        <li><%= image_tag "risu.png", class:"list-pict3" %></li>
        <li class="menu"><a href ="#" class="menuuu">あなたさん</a></li>
        <li class="menu"><a href ="#" class="menuuu">ログアウト</a></li>
      </ul>
    </div>
</header>


  <div class= "main-body">
    <div class="sistem">
        <div class="clock-main">
          <span id ="date" class="date"></span>
          <span id ="clock" class="time"></span>
        </div> 
    </div>

    <div class="sistem2">
      <div class="sistem-sistem">
          <ul class="sistem-list">
            <a href="#"><li class="sistem-btn">出勤する</li></a>
            <a href="#"><li class="sistem-btn">退勤する</li></a>
          </ul>
          <ul class="sistem-list">
            <a href="#"><li class="sistem-btn">休暇申請</li></a>
            <a href="#"><li class="sistem-btn">勤怠修正</li></a>
          </ul>
      </div>  
    </div>  

    <div class="comment-main">
    <div class="comment-body">
      <p class="comment">ここにコメント</p>
    </div>
    </div>  
  </div>



